{% extends "layout.html" %}

{% block content %}
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="../assets/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li><a href="about.html">About</a></li>
								<li class="current-list-item"><a href="news.html">Articles</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li>
									<div class="header-icons">
										
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>See what's new</p>
						<h1>Articles</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- latest news -->
	<div class="latest-news mt-150 mb-150">
		<div class="container">
			<div class="row">
				{% for post in posts %}
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="{{ post.slug }}.html"><div class="latest-news-bg news-bg-1">
							<img style='height: 100%; width: 100%; overflow: hidden; object-fit: contain' src="{{ post.thumbnail }}" alt=""></div></a>
							
						<div class="news-text-box">							
							
							<h3><a href="{{ post.slug }}.html">{{ post.title }}</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i>{{ post.publisher }}</span>
								<span class="date"><i class="fas fa-calendar"></i>{{ post.date }}</span>
								{% set list_of_tags = post.tags.split(",") %}
               					{% for tag in list_of_tags %}
								<span class="date"><i class="fas fa-tag"></i>{{ tag }}</span>
								{% endfor %}
							</p>
							<p class="excerpt">{{ post.summary}}</p>
							<a href="{{ post.slug }}.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						
						</div>
						
					</div>
				</div>
			{% endfor %}
				
			</div>

			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<div class="pagination-wrap">
								<ul>
									<li><a href="#">Prev</a></li>
									<li><a class="active" href="#">1</a></li>
									<li><a  href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">Next</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end latest news -->

{% endblock %}